pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
opencv-python
torchvision
torch
ipython
machine-learning-datasets
shap
rouge-score
bertviz
captum
lit-nlp
transformers
kaleido
ragas
python-dotenv
llama-index
llama-index-embeddings-ollama
faiss-cpu
llama-index-vector-stores-faiss
langgraph